@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.container {
  width: 60%;
  max-width: 1200px;
  margin: 0 auto;
}

body {
  background: #ccc;
  font-family: 'Montserrat', sans-serif;
  height: auto;
}

.mat-checkbox-label,
.mat-form-field-infix,
.mat-button-wrapper {
  font-family: 'Montserrat', sans-serif;
}

.main-header {
  font-family: 'Permanent Marker', cursive;
  margin-top: 10%;
  > h2 {
    color: #fff;
    text-shadow: 0 0 3px #000;
    font-size: 4.5rem;
    text-align: center;
  }
}

.todo-form {
  width: 60%;
  margin: 0 auto;
  > .mat-form-field {
    width: 100%;
  }
}
